img{
	height:80px;
	width:80px;
}

.container{
	background-image:url("https://wallpaperaccess.com/full/1616166.jpg");
	border:1px solid ;
	height:160px;
	max-width:100%;
}

.header-left{
	
	color:white;
	
}

.header-right{
	float:right;
	
	
}

.fa{
	float:right;
	color:blue;
	margin-bottom:50px;
	
}

.m1{
	padding-right:	10px;
}



.name{
	font-size:60px;
	text-shadow:2px 2px 5px cyan;
	font-weight:50;
	margin-left:500px;
	
}

.form{
	font-size:30px;
	text-shadow:2px 2px 5px cyan;
	margin-left:430px;
	
}

form{
	background-image:url("https://wallpaperaccess.com/full/1125095.jpg");
	background-size:cover;
}
p{
	color:white;
	text-shadow:2px 2px 5px cyan;
	font-size:30px;
	font-weight:50px;
	letter-spacing:1px;
}

label{
	text-shadow:2px 2px 5px cyan;
	color:white;
	letter-spacing:1px;
}
